body {
  background-color:#5555aa;

}
main {
  width:400px;
  margin:auto;
}
img{
  width:250px;
  height:245px;
  float:right;
  margin-left: 200px;
}
h5 {
  color:#ffffff;
  font-family:verdana;
  font-size:20px;
  text-align:center;

}
div {
  margin:auto;
  width:250px;
  height:250px;
  background-color:#00aaaa;
  border:2px dashed white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
}

.top{
  display:block;
  margin:0 auto 300px;
  border:none;
  background-color:#5555aa;
  /*margin-top: 20px;*/
  /*padding-top:10px;*/
  /*padding-bottom: 30px;*/
}
.right {
  float:left;
  /*padding-right:50px;*/
  margin-left:160px;
  margin-right:10px;

  /*margin-bottom: 50px;
  margin-left:20px;*/

}
.left {
  float:left;
  /*padding-left:20px;*/
  margin-left:90px;
  margin-right: 10px;

  /*margin-bottom: 50px;
  margin-right:20px;*/
}
.middle {
  float:left;
  /*padding-left:2px;
  padding-right: 20px;*/
  margin-left:150px;

}
.bottom {
  /*margin-top:200px;
  margin:200 auto 300px;*/
  margin-top: 700px;
  padding-bottom:70px;
}

span {
  color:#CC0000;
  font-style:italic;
  text-decoration-style:dashed;
}

img {
  float:left;
  width:auto;
  height:auto;
  margin:0 auto;
}
#games {
  float:left;
  margin-bottom: auto;
  /*margin-top:200px;*/
  font-family:monospace;
}
ol {
  float:left;
}
